<div class="w-full flex justify-content-center align-items-center header">
        <h1 class="m-0 p-0 py-2 text-3xl">WarShips X</h1>
</div>
<div class="w-full h-full flex flex-column align-items-center justify-content-center gap-4 container relative">
    <h4 class="text-3xl m-0 p-0">Set up your battlefield</h4>
    <div class="flex align-items-center justify-content-center gap-2 m-0 p-0">
        <div class="flex flex-column m-0 p-0 justify-content-center align-items-center">
            <h4 class="m-0 p-0 line-height-1 mb-2">x{{ maxFourShips - fourShipCount() }}</h4>
            <ws-button label="4" [outlined]="true" (click)="shipEdit(4)" />
        </div>
        <div class="flex flex-column m-0 p-0 justify-content-center align-items-center">
            <h4 class="m-0 p-0 line-height-1 mb-2">x{{ maxThreeShips - threeShipsCount() }}</h4>
            <ws-button label="3" [outlined]="true" (click)="shipEdit(3)" />
        </div>
        <div class="flex flex-column m-0 p-0 justify-content-center align-items-center">
            <h4 class="m-0 p-0 line-height-1 mb-2">x{{ maxTwoShips - twoShipsCount() }}</h4>
            <ws-button label="2" [outlined]="true" (click)="shipEdit(2)" />
        </div>
        <div class="flex flex-column m-0 p-0 justify-content-center align-items-center">
            <h4 class="m-0 p-0 line-height-1 mb-2">x{{ maxOneShips - oneShipsCount() }}</h4>
            <ws-button label="1" [outlined]="true" (click)="shipEdit(1)" />
        </div>
    </div>

    <battlefield-board (onTileClick)="fieldClick($event)" [highlightedPositions]="allShips()" />

    @if (editState()) {
        <div class="cancel-button-absolute z-3 absolute py-4 px-5 border-round-lg">
            <div class="flex flex-column m-0 p-0 justify-content-center align-items-center h-full">
                <h4 class="m-0 p-0 line-height-1 mb-3">Editing: {{ this.editType }}</h4>

                <ws-button label="Cancel" [outlined]="true" color="secondary" class="z-5" (click)="cancelEdit()"/>
            </div>
        </div>
    }

    <div class="flex flex-column justify-content-center align-items-center mt-3">
        <h2 class="m-0 p-0 mb-2 text-3xl">{{ userInQueue() ? 'You are waiting in queue' : 'Click to join the queue' }}</h2>
        <h3 class="m-0 p-0 mb-5">Players waiting: {{ playersWaitingCount() }}</h3>
    </div>

    <ws-button [label]="userInQueue() ? 'Leave' : 'Join'" class="w-full" (click)="userInQueue() ? leaveQueue() : joinQueue()" size="large"/>
</div>