@import "../../../../responsive.scss";

:host {
    width: 95vw;
    margin: auto;
    height: 100%;
    display: flex;

    .game-container {
        flex-direction: column;

        @include respond("lg") {
            flex-direction: row;
        }
    }

    h1 {
        color: var(--p-primary-color);
    }

    h2 {
        color: var(--p-primary-600);
    }

    input {
        width: 3rem;
    }
}
