@import "../../../../responsive.scss";

:host {
    width: 100vw;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;

    .game-container {
        flex-direction: column;

        @include respond("lg") {
            flex-direction: row;
        }
    }

    .filling {
        width: 180px;
    }

    .info {
        color: var(--p-surface-400);
        font-size: 0.75rem;

        @include respond("lg") {
            font-size: 1.3rem;
        }
    }

    .user-turn {
        background-color: var(--p-primary-color);
    }

    .opponent-turn {
        background-color: var(--p-surface-500);
    }

    h1 {
        color: var(--p-surface-400);

        &.current-turn {
            color: var(--p-primary-color) !important;
        }
    }

    h2 {
        color: var(--p-primary-600);
    }

    h3 {
        color: var(--p-primary-50);
    }

    input {
        width: 3rem;
    }
}
