<div class="w-full h-full flex flex-column justify-content-center align-items-center" [formGroup]="credsFormGroup">
    <h1 class="mb-3">Login</h1>

    <ws-input label="Email" class="m-0 p-0 mb-3" formControlName="email"/>
    
    <ws-input label="Password" class="m-0 p-0 mb-3" type="password" formControlName="password"/>

    <ws-button label="Log in" class="m-0 p-0 mb-3 w-full" (click)="loginUser()" [disabled]="credsFormGroup.invalid" [loading]="loginButtonLoading()"/>

    <a routerLink="register">Don't have an account? Register</a>
</div>