@import "../../../../responsive.scss";

:host {
  width: 95vw;
  margin: auto;
  height: 100%;
  display: flex;

  @include respond("md") {
    width: 420px;
  }

  h1 {
    color: var(--p-primary-color);
  }

  a {
    color: var(--p-primary-600);
  }
}
