:host {
    $tr-size: 30px;
    $board-color: var(--p-surface-700);

    table {
        border-collapse: collapse;

        .border {
            border: 1px solid $board-color;
        }

        td {
            color: $board-color;
            width: $tr-size !important;
            height: $tr-size !important;
            text-align: center;
        }
    }
}