<table>
    @for (y of sizePurposeArray; track $index) {
        <tr>
            @for (x of sizePurposeArray; track $index) {
                @if (x == 0 && y == 0) {
                    <td></td>
                } @else if (x > 0 && y == 0) {
                    <td>{{ alphaChars[x - 1]}}</td>
                } @else if (x == 0 && y > 0) {
                    <td class="text-right pr-2">{{ y }}</td>
                } @else {
                    <td [class]="(positionsInclude(highlightedPositions, {letter: alphaChars[x - 1], number: y})() ? ' highlighted ' : ' ') +
                        ' border ' +
                        (hoverable() ? ' hoverable ' : ' ') + 
                        (isSelectedPosition({letter: alphaChars[x - 1], number: y})() ? ' selected ' : ' ') + 
                        (positionsInclude(secondlyHighlightedPositions, {letter: alphaChars[x - 1], number: y})() ? ' secondly-highlighted ' : ' ') + 
                        (positionsInclude(disabledPositions, {letter: alphaChars[x - 1], number: y})() ? ' disabled ' : ' ')" 
                        (click)="tileClick(alphaChars[x - 1], y)">
                        {{ (positionsInclude(xPositions, {letter: alphaChars[x - 1], number: y})() ? 'X' : '') }}
                    </td>
                }
            }
        </tr>
    }
</table>

