@import "../../../../responsive.scss";

:host {
    $tr-size-desktop: 2vw;
    $tr-size-xl: 4vw;
    $tr-size-mobile-large: 2.5vw;
    $tr-size-mobile-big: 4vw;
    $tr-size-mobile: 3.5vw;
    $tr-size-mobile-small: 5.2vw;
    $board-color: var(--p-surface-400);

    .highlighted {
        background-color: var(--p-primary-color) !important;
    }

    table {
        border-collapse: collapse;

        td {
            font-size: 0.8rem;
            color: $board-color;
            width: $tr-size-mobile-small;
            height: $tr-size-mobile-small;
            text-align: center;

            transition: .2s background-color;

            &.border {
                border: 1px solid $board-color;
                background-color: var(--p-surface-800);
            }

            &.hoverable:hover {
                background-color: var(--p-surface-700);
            }

            &.selected {
                background-color: var(--p-surface-600);
            }

            &.secondly-highlighted {
                background-color: var(--p-primary-900) !important;
            }

            @include respond("sm") {
                font-size: 0.8rem;
                width: $tr-size-mobile;
                height: $tr-size-mobile;
            }

            @include respond("md") {
                font-size: 1rem;
                width: $tr-size-mobile-big;
                height: $tr-size-mobile-big;
            }

            @include respond("lg") {
                font-size: 1.5vw;
                width: $tr-size-mobile-large;
                height: $tr-size-mobile-large;
            }

            @include respond("xl") {
                font-size: 2vw;
                width: $tr-size-xl;
                height: $tr-size-xl;
            }

            @include respond("desktop") {
                font-size: 1vw;
                width: $tr-size-desktop;
                height: $tr-size-desktop;
            }
        }
    }
}